*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #282b30;
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.42857143;
    color: #c8c8c8;
}

body section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    color: white;
}
body section div{
    width: 50%;
}

header{
    height: 100px;
    color: #ffe300;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: black;
}

#film_info ul{
    margin-bottom: 20px;
    margin-left: 20px;
}

#film_info ul li{
    list-style: none;
}

#character_info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


